body {
  height: 50rem;
  background-color: #fff;
  margin: 0;
  overflow-x: hidden;
   
}

/*          */
/* 헤더부분 */

header #cosLab {
  position: fixed;
  left: 60px;
  top: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration-line: none;
  color: #666;
}

header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 3px 7px 1px rgb(0 0 0 / 5%);
  height: 4.8rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 500;
}


header img{
  width: 30px;
  height: 30px;
}

header.drop {
  position: fixed;
  animation: dropHeader 0.7s;
  background: rgba(255, 255, 255, 0.9);
}

@keyframes dropHeader {
  0% {
    top: -5rem;
  }
  100% {
    top: 0;
  }
}
#menu {
  display: flex;
  justify-content: space-around;

  width: 40em;

  position: relative;
  margin: 20px 40px;
  /* right: 50%; */
}

.dropbar {
  display: none;
  height: 100%;
}

/* 메뉴 드롭다운 */
.dropbtn {
  cursor: none;
  display: flex;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  margin: 30px 100px 0px 0px;
  min-width: 4rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#dropdown-content a {
  color: black;
  background-color: transparent;
  padding: 10px 8px;
  width: 10vw;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: transparent;
}
#shop:hover ~ #dropdown-content {
  display: block;
}

/* 햄버거버튼은 초기에 나오면 안된다.(화면줄여야 나옴) */
#ham {
  display: none;
}

/*               */
/* 상단 섹션 단락 */
#slideshow {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  width: 100%;
}


.slide_item {
  /* layout */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  left: 0px;
  /* size */
  width: 100%;
  flex-shrink: 0;
  /* transition */
  transition: left 0.15s;

}


.slide_item img {

  max-width: 100%;
  height: auto;
  display: block;
}

.slide_button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;

  /* position */
  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(50% - 16px);

  /* size */
  width: 32px;
  height: 32px;

  /* style */
  border-radius: 100%;
  background-color: none;
  cursor: pointer;
}

.slide_prev_button {
  left: 10px;
}

.slide_next_button {
  right: 10px;
}




/*                */
/*베스트셀러 섹션  */
#bestSeller {
  padding: 15vh 0 15vh 0;
}

#bestSeller span:nth-child(1) {
  color: #111;
  font-size: 30px;
  font-weight: 500;
  margin-left: 30px;
}

#bestSeller span:nth-child(2) {
  color: #aaa;
  font-size: 15px;
  font-weight: 300;
  padding-left: 3px;
}
#bestSeller .inform span {
  color: #111;
  font-size: 15px;
  font-weight: 500;
  margin: 10px 10px 0px 10px;
}

#bestSeller .inform span:nth-child(2) {
  color: #aaaaaa;
  font-size: 13px;
  margin: 0px 10px 30px 10px;
}

.information span {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: #000000;
}

#image {
  width: 20%;
  padding-left: 10px;
}
#image img{
  width: 100%;height: 100%;
  padding-left: 0px;
}

table {
  height: 5px;
  margin-left: 10px;
}


table td {
  padding-left: 20px ;
  vertical-align: top;
}

#bestSeller ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  font-size: 20px;
}

#bestSeller ul > li {
  display: inline-block;
  vertical-align: top;
}

#bestSeller ul > li > a {
  display: block;
  width: auto;
  text-decoration: none;
  margin: 5px;
}


/* 베스트 셀러 이벤트 */
a .screen .product {
  position: absolute;
  bottom: 150%;
  left: 40%;
  z-index: 2;
}
a .screen .productImg {
  width: 100%;
}

a .screen .bottom {
  position: absolute;
  top: 150%;
  left: 30px;
  z-index: 2;
  color: #fff;
  font-size: 12px;
}
a .screen {
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}

h3 {
  font-size: 14px;
  text-align: center;
  padding: 20px;
  color: #666;
}

a:hover .product {
  bottom: 40%;
  width: 19%;
}

a .screen::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  opacity: 0;
  transition: all 0.35s;
}
a:hover .screen::after {
  opacity: 1;
}



/*         */
/* 모달창 */

#modal.modal-overlay {
  width: 100%;
  height: 223rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: none;
  z-index: 10000;
}

#modal .modal-window {
  background-color: white;
  border: 1px solid black;
  width: 530px;
  height: 600px;
  position: relative;
  padding: 0px;
  margin-top: 5%;
  bottom: 20%;
  display: flex;
  flex-direction: column;
}

#modal .modal-window h2 {
  background-color: black;
  color: white;
}

#modal .title {
  padding-left: 10px;
  display: flex;
  text-shadow: 1px 1px 2px gray;
  color: black;
  flex-direction: column;
  padding: 0;
}
#modal .title h2 {
  display: inline;
  height: 3rem;
  margin: 0 0 10px 0;
  padding: 5% 0px 2px 20px;
}

#modal .title strong {
  padding: 2% 0px 2px 20px;
}

#modal .title #select1 {
  font-size: 10px;
  margin: 0px;
  padding: 10% 0px 0px px;
}

#modal .title .solid {
  width: 93%;
  border-top: 3px solid black;
}

#container {
  display: flex;
}

#modal .title .dotted {
  border: 0px;
  width: 93%;
  border-top: 1px dotted black;
}

#select hr {
  border: solid 1px black;
  width: 100%;
  margin: 0;
}

#select #value2 {
  margin-left: 30px;
}
#modal ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

#modal li {
  margin-right: 10px;
  font-size: 10px;
}

#modal ul > li > input {
  border: solid 1px darkgray;
  height: 2rem;
  width: 2rem;
  background-color: transparent;
}
#container {
  display: flex;
  height: 8vh;
}
#container li {
  padding-left: 20px;
}
#container button {
  border: 0px;
  background-color: darkgray;
}

#container div {
  margin: 15px 0px 0px 50px;
  width: 30%;
}
#container span {
  font-size: 15px;
}

#quantity {
  margin: 15px 0px 0px 60px;
}
#select {
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0;
}

#container2 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 15px;
}

#modal .btnStyle1 {
  display: inline;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: black;
  background-color: white;
  border: 1px solid black;
  width: 150px;
  height: 33px;
  border-radius: 40px;
  margin: 5px;
}
#modal .btnStyle2 {
  display: inline;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: white;
  background-color: black;
  width: 150px;
  height: 33px;
  border-radius: 40px;
  margin: 5px;

}

#productList {
  display: flex;
  flex-direction: column;
  width: 300px;
}

#productList li {
  padding: 0;
}

#productList span {
  font-size: 10px;
}





/*            */
/* 장바구니창 */

#basketContainer {
  margin: 6rem 10% 0 10%;
  display: none;
}
#basketContainer span {
  color: #666;
  font-size: 2rem;
}
.tg {
  width: 100%;
  border-collapse: collapse;
  width: 100%;
  text-align: right;
  margin: 0px;
}

.tg td,
th {
  border-bottom: 1px solid rgb(154, 154, 154);
  border-top: 1px solid rgb(154, 154, 154);
  padding: 20px;
  text-align: right;
}

.tg .end div {
  margin: 20px 0 20px 0;
  text-align: right;
  color: #666;
}

.tg #howMuch {
  margin: 20px 0 20px 0;
  text-align: right;
  color: #666;
}

.tg th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: gainsboro;
  color: white;
}

#tableFooter{
  font-size: 24px;

}
#endPrice{
  color:olivedrab;
  font-size: 26px;
  font-weight: bold;
}

#order {
  text-align: center;
  margin: 100px;
  height: 40px;
}

#order input {
  border: 0px;
  height: 100%;
  width: 50%;
  border-radius: 10px;
  color: white;
  background-color: gainsboro;
}

#order input:last-child {
  border: 0px;
  height: 100%;
  width: 50%;
  border-radius: 10px;
  color: gainsboro;
  background-color: transparent;
}




/* 
#basketImg{
  display: none;
} */


  



.best_it {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 40px 0px 0px 0px;
}
.titlArea {
  background-color: #efefef;
  width:100%;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.top {
  justify-content: center;
  height: 80px;
  width: 100%;
  display: flex;
}
.contArea {background-color: #efefef;
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
}
.cont_1 a {
  text-decoration-line: none;
  color: #6d6d6d;
}
.cont_1 {
  margin-top: -30px;
  padding: 20px;
  text-align: center;
  width: 200px;
}



.main_slide {
  width: 100%; 
  overflow: hidden;
  /* 새로 추가 */
  text-align: center;  
}
.main_slide img {
  max-width: 100%;
  height: auto;
}


.under_line p:first-child {
  text-decoration: underline rgb(29, 29, 29);
  text-decoration-thickness: 0.8px;
  text-underline-offset : 13px;
  color: rgb(29, 29, 29);
}
/* 수정-------------------------------------------------- */
.cont_1 p {
  font-size: 1.3em;
  letter-spacing: -1px;
  font-weight: 500;
}
/* 수정-------------------------------------------------- */
.cont_1 a:focus {
  text-decoration: underline rgb(29, 29, 29);
  text-decoration-thickness: 0.8px;
  text-underline-offset : 13px;
  color: #1c1c1c;
}

input[type="radio"] {
   display: none; 
} 
/* 수정▽-------------------------------------------------- */
.slide_wrap {
  display: flex;
  width: 100%;
  height: 550px;
  margin: 0vh 0 15vh 0;
}
.slide_cot {
  position: relative;
  width:100%;
  height: 550px;
  display: flex;
  margin: 0 auto;
}
.slide_left {
  width: 100%;
  height: 550px;
}
.slide_right {
  width: 100%;
  height: 550px;
  margin: 0 auto;
  overflow-x: hidden;
}
.inner-list {
  display: flex;
  transition: .3s ease-out;
  width: 100%;
  height: 550px;
  overflow-Y: hidden;
}
/* 수정△-------------------------------------------------- */
.inner {
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.inner img {
  width: 100%;
  height: 100%;
}
.slide_left {
  position: relative;
  background-color: rgb(233, 233, 233); 
}
/* 수정▽-------------------------------------------------- */
.box_con {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 300px;
  margin-left: 100px;
  margin-top: 100px;
  
  position:absolute;
  /* animation-name: animationnSlide;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: alternate; */
}

/* 텍스트 애니메이션 효과 */
@keyframes animationnSlide {
  from {
    left: -30px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes animationnSlide{
  from{
    left: -30px;
    opacity: 0;
  }
  to{
    left: 0;
    opacity: 1;
  }
} 
/* 수정△-------------------------------------------------- */
.animationnSlide {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-name: animationnSlide;
  animation-name: animationnSlide;
}


.view_bt {
  width: 150px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-top: 20px;
}
/* 수정▽-------------------------------------------------- */
.big_p {
  font-size: 1.3em;
  line-height: 33px;
  width: 100%;
  font-weight: 300;
}
/* 수정△-------------------------------------------------- */
.box_con p:nth-child(2) {
  font-size: 1em;
  color: rgb(141, 141, 141);
}


/* slide 버튼 이벤트 */
.slide_button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* 버튼이 중앙에 위치하게 하기위해 계산 */
  top: calc(50% - 16px);
  width: 70px;
  height: 70px;
  background-color: rgba(246, 246, 246, 0.8);
  opacity: 0.5;
  cursor: pointer;
}

.slide_prev_button {
  left: 0;
}
.slide_next_button {
  right: 0;
}
/* 수정+ 추가-------------------------------------------------- */
.slide_left_button {
  left: 0;
}
.slide_right_button {
  right: 0;
}
/* 수정-------------------------------------------------- */


/*                     */ 

/*                     */
/* 페이지네이션 스타일 */

/* 수정-------------------------------------------------- */
.slide_pagination2 {
  display: flex;
  gap: 20px;
  left: 50%;
  bottom: 50px;
  justify-content: center;
  background-color:#efefef;
  margin: 0;
}
#slideItem{
  text-align: center;
}
/* 수정-------------------------------------------------- */

/* 현재 슬라이드가 아닌 것은 투명도 부여 */
.slide_pagination2 > li {
  color: #7fb5ff88;
  cursor: pointer;
  font-size: 25px;
} 
.slide_pagination2 > li.active {
  color: #7fb5ff;
}

.slide_pagination2 > .none {
  color: #7fb5ff88;
  cursor: pointer;
  font-size: 25px;
}







/* footer */

#bottom_line .bottom_index{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin-bottom: 60px;
  text-decoration: none;
  padding: 0;
}
#bottom_line .cs_logo img{
  width: 100px;
  height: 20px;
}
#bottom_line span{
  color: rgb(80, 80, 80);
}

#bottom_line{
  padding: 30px 100px 30px 100px;
  background-color: #efefef;
  
  margin: 0;
}

#bottom_line hr{
  background-color:#aaa;
}

#bottom_line .bottom_index a{
  text-decoration: none;
  color: #aaaaaa;
}

#bottom_line .copyright p{
  font-weight:200;
}

#bottom_line .cs_logo{
  display: flex;
  width: 40rem;
  justify-content: space-between;
  margin-bottom: 20px;
}
#bottom_line .color{
  color: #aaaaaa;
  
}

#bottom_line .company_info span {
  
  width: 100%
}
#bottom_line .company_info span:nth-child(3){
  display: flex;
  width: 30rem;
}
#bottom_line .copyright p:last-child{
  margin-top: 80px;
}



/* 인스타그램 */

#container4{
  margin: 0px 0px 50px 0px;
}

#instagram{
  text-align: center;
}
#instagram img{
  width: 20%; height: 30%;
}

#instagramImg{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  

  list-style: none;
}
#instagramImg img{
  width: 140px;
  height: 140px;
  padding: 10px;
  margin: 0px;
}

#instargramImg ul > li {
  display: inline-block;
  vertical-align: top;
}

#instargramImg ul > li > a {
  display: block;
  width: auto;
  text-decoration: none;
  margin: 5px;
}





/* 화면이 제한 됬을 때 */

@media screen and (max-width: 760px) {
  #menu {
    flex-direction: column;
    align-items: center;
    height: 125px;
    width: 80%;
  }
  header {
    display: none;
  }

  body{
    width: 100%;
    overflow-x: hidden;
  }

  
  #bottom_line .bottom_index{
    font-size: 10px;
    width: 210px;
  }

  .slide_wrap{
    display: none;
  }

  .inform .screen{
    margin-top: 15px;
  }

  #bottom_line .cs_time{
    display: none;
  }
  #bottom_line .cs{
    display: none;
  }

  #bottom_line{
    display: none;
  }

  

  #dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    margin: 230px 0px 0px 200px;
    min-width: 4rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  
  

   div .dropbar{
    display: block;
    width: 100%;
    height: 26vh;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;

    top: -9em;
    z-index: 900;
    transition: all 0.35s;
  }

  input[id="ham"]:checked + label + div {
    top: 0;
  }

  label {
    z-index: 1000;
  }

  #ham + label {
    display: block;
    position: fixed;
    width: 50px;
    height: 30px;
    right: 0px;
    cursor: pointer;
    transition: all 0.35s;
    top: calc(1.5%);
  }
  

  #ham + label > span {
    position: absolute;
    display: block;
    width: 80%;
    height: 4px;
    background: black;
    border-radius: 20px;
    transition: all 300ms;
  }

  #ham:checked + label > span:nth-child(1) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(45deg);
  }

  #ham + label > span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
  }

  #ham:checked + label > span:nth-child(2) {
    opacity: 0;
  }

  #ham + label > span:nth-child(3) {
    bottom: 0;
  }

  #ham:checked + label > span:nth-child(3) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(-45deg);
  }

  #modal .modal-window {
    background-color: white;
    border: 1px solid black;
    width: 280px;
    height: 400px;
    position: relative;
    padding: 0px;
    margin-top: 5%;
    bottom: 35%;
    display: flex;
    flex-direction: column;
  }

  #modal .title h2{
    height: 1.5rem;
    padding-top: 3px;
    padding-left: 10px;
    font-size: 0.9rem;
  }




  #modal hr{
    margin-top: 3px;
    margin-bottom: 4px;
  }

  #modal #mustColor {
    display: none;
  }
  #modal #mustSize {
    display: none;
  }
  #modal #container div {
    margin-left: 30px;
  }

  #modal #select1{
    font-size: 2px;
  }



  #container2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 20px;
  }

  #modal .btnStyle1 {
    display: inline;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: black;
    background-color: white;
    border: 1px solid black;
    width: 160px;
    height: 30px;
    border-radius: 40px;
    font-size: 10px;
  }
  #modal .btnStyle2 {
    display: inline;
    padding-right: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 2px gray;
    color: white;
    background-color: black;
    width: 160px;
    height: 30px;
    border-radius: 40px;
    font-size: 10px;
  }

  #modal .title #select1 {
    font-size: 2px;
    margin: 0px 0px 0px 0px;
    padding: 10% 0px 0px 10px;
  }
  .cont_1 p {
    font-size: 12px;
    letter-spacing: -1px;
    font-weight: 500;
  }

  .cont_1{
    padding: 0;
  }

  #bestSeller span:nth-child(1) {
    color: #111;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
  }
  
  #bestSeller span:nth-child(2) {
    color: #aaa;
    font-size: 7.5px;
    font-weight: 300;
    padding-left: 3px;
  }

  #bestSeller .inform span {
    color: #111;
    font-size: 4px;
    font-weight: 200;
    margin: 10px 10px 0px 0px;
  }
  
  #bestSeller .inform span:nth-child(2) {
    color: #aaaaaa;
    font-size: 2px;
    margin: 0px 10px 0px 0px ;
  }

.big_p {
  font-size: 1em;
  line-height: 33px;
  width: 1%;
  font-weight: 300;
}
.box_con p:nth-child(2) {
  font-size: 1em;
  color: rgb(141, 141, 141);
}

.tg {
  width: 100%;
  border-collapse: collapse;
  width: 100%;
  text-align: right;
  margin: 0px;
  font-size: 13px;
}

#instagramImg{
  padding: 0;
}

.tg td,
th {
  padding: 0px;
  font-size: 10px;
}

#basketContainer th:nth-child(2){
  width: 20px;
}

#endPrice{
  font-size: 20px;
}

#order input{
  width: 150px;
}

#order{
  margin: 30px;
}

#order input:last-child{
  width: 150px;
}
}

